{% extends 'base.html' %}

{% block title %}
GSCount
{% endblock %}



{% block content %}
    <style>
        h1{
            text-align: center;
            padding-bottom: 50px;
        }
        h2{
            text-align: left;
            padding-left: 20px;
            padding-bottom: 25px;
        }
        h3{
            text-align: center;
            padding-bottom: 25px;
        }
        .left, .right {
            width: 50%;
        }
        .left {
            text-align: left;
            margin-right: 30px;
        }
        .right {
            text-align: left;
            margin-left: 0cm; 
        }
        .right li {
            list-style-type: disc;
            text-align: justify;
            margin-left: 1rem;
        }
        .center {
            width: 95%;
            text-align: center;
            margin: 10px auto;
        }
        .normalChart {
            margin: 2cm auto;
        }
        .container {
            display: flex;
            width: 95%;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 20px; 
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        p{
            padding-left: 20px;
            text-align: justify;
        }
        .bold-text {
            text-align: center;
            padding: 20px;
            font-weight: bold;
        }
        .justify-text {
            text-align: justify;
        }
        .final-conclusions {
            text-align: justify;
            padding: 20px;
        }
        .download-pdf {
            width: 55%;
            text-align: center;
        }
        .page-break {
            page-break-before: always;
        }
    </style>


<!-- CSV FORM -->
<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Upload your CSV file!</h1>
        </div>
    </header>
    <!-- CONTENT -->
    <div class="flex items-center justify-center py-10">
        <div class="bg-white p-6 rounded shadow-md w-96">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="myfile" class="block text-sm font-medium text-gray-700">Select File:</label>
                    <input type="file" name="myfile" id="myfile" class="mt-1 block w-full text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-md cursor-pointer focus:outline-none focus:ring-2 focus:ring-indigo-500">
                </div>
                <div>
                    <button type="submit" class="w-full px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Upload File</button>
                </div>
            </form>

            <form method="post" action="{% url 'delete_data' %}" class="space-y-4">
                {% csrf_token %}
                <div>
                    <button type="submit" class="w-full px-4 py-2 bg-red-500 text-white font-semibold rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Delete All Data</button>
                </div>
            </form>
            <br>
            <hr>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <p{% if message.tags %} class="" {%  endif %}>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% if results %}
<!-- HEADER HASIL ANALISA -->
<div class="bg-white">
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Here's the results!</h1>
        </div>
    </header>
</div>

<!-- TABEL HASIL ANALISA -->
<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

    <!-- TABEL HASIL ANALISA: Uji Stasioner -->
    <header class="bg-white shadow-lg rounded-lg my-6">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-extrabold tracking-tight text-black">Uji Stasioner</h2>
            <p class="text-lg mb-2">
                Stasioner sendiri merupakan suatu kondisi data time series yang jika dirata-
                rata, varian covarian dari perubahan tersebut seluruhnya tidak dipengaruhi oleh waktu
                (Juanda, 2015). Menurut (Widarjono, 2018) data time series seringkali tidak stasioner
                sehingga dimana hasil dari regresi menunjukan nilai koefesien determinasi yang
                tinggi. Uji Stasioner melalui GSCount menggunakan metode Augmented Dickey Fuller untuk dapat
                menguji stasioneritas variabel dengan mencari P-Value-nya.
                Apabila P-Value &lt; 5% atau 0.05, maka variabel tersebut dapat dinyatakan stasioner.
            </p>
        </div>
    </header>
     
    <div class="center">
        {% if results %}
        <table border="1">
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>ADF Statistic</th>
                    <th>p-value</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.variable_name }}</td>
                        <td>{{ result.adf_statistic|floatformat:3 }}</td>
                        <td>{{ result.p_value|floatformat:3}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <pwarn>No results to display.</pwarn>
        {% endif %}
    </div>

    <br>
    <br>
    <br>

    <!-- TABEL HASIL ANALISA: Uji Lag Optimum -->
    <header class="bg-white shadow-lg rounded-lg my-6">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-extrabold tracking-tight text-black">Uji Lag Optimum</h2>
            <p class="text-lg mb-2">
                Ini menjadi penting dilakukan pada tahap awal sebelum dilakukan perhitungan
                karena menurut Gujarati (2004) pada penelitannya mengungkapkan bahwa uji lag optimum dilakukan 
                untuk menentukan kriteria lag paling optimal yang akan digunakan untuk analisis selanjutnya.
                Seperti namanya, uji lag optimum berfungsi untuk mencari lag yang paling optimal sebagai acuan untuk digunakan pada pengujian selanjutnya.
                Pemilihan lag optimum dilakukan pada tiap-tiap variabel yang diteliti untuk dapat menghasilkan perhitungan akurat
                dalam proses identifikasi jangka panjang.
            </p>
        </div>
    </header>

    <div class="center">
        {% if lagged_data %}
        <div class="normalChart">
            <canvas id="ClicksChart"></canvas>
        </div>
        <div class="normalChart">
            <canvas id="ImpressionsChart"></canvas>
        </div>
        <div>
            <canvas id="RankingChart"></canvas>
        </div class="normalChart">
        {% else %}
            <pwarn>Not enough data for regression analysis</pwarn>
        {% endif %}
        </div>
    </div>

    <br>
    <br>
    <br>

    <!-- TABEL HASIL ANALISA: Uji Regresi -->
    <header class="bg-white shadow-lg rounded-lg my-6">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-extrabold tracking-tight text-black">Uji Regresi</h2>
            <p class="text-lg mb-2">
                Uji regresi akan diadopsi sebagai teknik analisa data dalam penelitian ini
                untuk menentukan pengaruh jangka panjang dari suatu variabel dalam satu periode
                dengan menggunakan lag optimum dari variabel dependen (Clicks & CTR) secara bersamaan.
                Kami menggunakan metode Autoregressive Distributed Lag pada penerapan uji regresi data
                Google Search Console yang akan ditampilkan pada tabel OLS Regressions Results.
            </p>
        </div>
    </header>

    <div class="container">
        <div class="left">
            <h3 class="text-3Xl font-bold tracking-tight text-gray-900">Dependent Variable: CLICKS</h3>
            {{ Clicks_sum|safe }}
        </div>
        <div class="right">
            <h3 class="text-3Xl font-bold tracking-tight text-gray-900">Dependent Variable: CTR</h3>
            {{ CTR_sum|safe }}
        </div>
    </div>
</div>




<!-- PENJELASAN KESIMPULAN AKHIR -->
<div class="bg-white text-gray-800">
    <div id="analysis-result" class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <!-- HEADER -->
        <div class="bg-white">
            <header class="bg-white shadow">
                <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Conclusions</h1>
                </div>
            </header>
        </div>


        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <!-- PENJELASAN KESIMPULAN AKHIR: Uji Stasioner -->
            <div class="container">
                <div class="left">
                    <h3 class="bold-text">STATIONERITY TEST</h3>
                    <p>In the first test, namely the stationary test, the variable is declared stationary if the P-Value is less than 5% or 0.05.</p>
                </div>
                <div class="right">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Conclusions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for conclusion in conclusions_stationarity %}
                                <tr>
                                    <td>
                                    {{ conclusion }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="page-break"></div>

            <!-- PENJELASAN KESIMPULAN AKHIR: Uji Lag Optimum -->
            <div class="container">
                <div class="left">
                    <h3 class="bold-text">OPTIMUM LAG TEST</h3>
                    <p>The optimum lag test aims to find the optimal lag of each variable which will later be used in the next test.</p>
                </div>
                <div class="right">
                    {% if lagged_data %}
                    <div>
                        <canvas id="LaggedClicksChart"></canvas>
                    </div>
                    <div>
                        <canvas id="LaggedImpressionsChart"></canvas>
                    </div>
                    <div>
                        <canvas id="LaggedRankingChart"></canvas>
                    </div>
                    {% else %}
                        <pwarn>Not enough data for regression analysis</pwarn>
                    {% endif %}
                </div>
            </div>

            <div class="page-break"></div>

            <!--PENJELASAN KESIMPULAN AKHIR: Uji Regresi -->
            <div class="container">
                <div class="left">
                    <h3 class="bold-text">REGRESSION TEST</h3>
                    <p class="justify-text">The last test is the Regression Test. The indicators that need to be considered are the Coefficient (coef) and T-statistic (t) values.</p>
                        <ul class="list-disc pl-6 justify-text">
                            <p>If the coefficient is positive (+) and the T-statistic is positive (+), meaning the variable is significant to the dependent variable. </p>
                            <p>coefficient is negative (-) and the T-statistic is positive (+), meaning the variable is not significant to the dependent variable.</p>
                            <p>coefficient is positive (+) and the T-statistic is negative (-), meaning the variable is not significant to the dependent variable.</p>
                            <p>coefficient is negative (-) and the T-statistic is negative (-), meaning the variable is not significant to the dependent variable.</p>
                        </ul>
                </div>
                <div class="right">
                    <br><br><br>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Conclusions for Dep. Variable Clicks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul>
                                        {% for conclusion in Clicks_conclusions %}
                                            <li>{{ conclusion }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Conclusions for Dep. Variable CTR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul>
                                        {% for conclusion in CTR_conclusions %}
                                            <li>{{ conclusion }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="page-break"></div>

            <!--PENJELASAN KESIMPULAN AKHIR: Autoregressive Distributed Lag Test -->
            <div class="center">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Autoregressive Distributed Lag Test Conclusions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="mx-2">
                                <ul>
                                    <li class="final-conclusions">The results of regression testing using the Autoregressive Distributed Lag method can be concluded that the long-term relationship of the Clicks variable is valid. The results of the variable analysis is variable 
                                        {% for Final_conclusion in Clicks_finalconclusions %}
                                            {{ Final_conclusion }}
                                        {% endfor %} 
                                        In the long term, have a positive value and significant to the dependent variable Clicks. Meaning those variable could increasing the number of clicks on your website in search engines.
                                    </li>
                                    <li class="final-conclusions"> The results of regression testing using the Autoregressive Distributed Lag method can be concluded that the long-term relationship of the CTR variable is valid. The results of the variable analysis is variable
                                        {% for Final_conclusion in CTR_finalconclusions %}
                                            {{ Final_conclusion }}
                                        {% endfor %} 
                                        In the long term, have a positive value and significant to the dependent variable CTR. Meaning those variable could increasing the number of average CTR on your website in search engines.
                                    </li>  
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Download PDF Button -->
            <div class="download-pdf">
                <div class="text-right">
                    <button id="download-pdf" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Download PDF</button>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Download PDF Button
    <div class="download-pdf">
        <div class="text-right">
            <button id="download-pdf" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Download PDF</button>
        </div>
    </div> -->
</div>

<!-- No results warning. -->
{% else %}
<div class="bg-white">
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">No results to display. Please upload the CSV File!</h1>
        </div>
    </header>
</div>
{% endif %}


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const laggedData = JSON.parse('{{ lagged_data|escapejs }}');
        
        const createChart = (ctx, label, data) => {
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: Array.from({ length: data.length }, (_, i) => i + 1),
                    datasets: [{
                        label: label,
                        data: data,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        x: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Day'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: label
                            }
                        }
                    }
                }
            });
        }

        const clicksCtx = document.getElementById('ClicksChart').getContext('2d');
        createChart(clicksCtx, 'Clicks', laggedData.map(item => item.Clicks));

        const impressionsCtx = document.getElementById('ImpressionsChart').getContext('2d');
        createChart(impressionsCtx, 'Impressions', laggedData.map(item => item.Impressions));

        const rankingCtx = document.getElementById('RankingChart').getContext('2d');
        createChart(rankingCtx, 'Ranking', laggedData.map(item => item.Ranking));

        const laggedClicksCtx = document.getElementById('LaggedClicksChart').getContext('2d');
        createChart(laggedClicksCtx, 'Lagged Clicks', laggedData.map(item => item.lag1_dclicks));

        const laggedImpressionsCtx = document.getElementById('LaggedImpressionsChart').getContext('2d');
        createChart(laggedImpressionsCtx, 'Lagged Impressions', laggedData.map(item => item.lag1_dimpressions));

        const laggedRankingCtx = document.getElementById('LaggedRankingChart').getContext('2d');
        createChart(laggedRankingCtx, 'Lagged Ranking', laggedData.map(item => item.lag1_dranking));
    });
</script>

<script>
    // Check if html2pdf.js is loaded
    if (typeof html2pdf !== 'undefined') {
        console.log('html2pdf.js is loaded successfully.');
    } else {
        console.log('Failed to load html2pdf.js.');
    }

    document.getElementById('download-pdf').addEventListener('click', function() {
        console.log('Download button clicked.');
        const element = document.getElementById('analysis-result');
        
        // Check if the element exists
        if (element) {
            console.log('Element found. Generating PDF...');
            const options = {
                margin:       0.5,
                filename:     'analysis-result.pdf',
                image:        { type: 'jpeg', quality: 0.98 },
                html2canvas:  { scale: 2 },
                jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            html2pdf().from(element).set(options).save();
        } else {
            console.log('Element not found.');
        }
    });
</script>

{% endblock %}