<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Technical Code</title>
</head>
<body>
    <h1>Test Technical Code</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text"  name="number" placeholder="Input Angka Di Sini" required>
        <button type="submit" name="triangle">Generate Segitiga</button>
        <button type="submit" name="odd">Generate Bilangan Ganjil</button>
        <button type="submit" name="prime">Generate Bilangan Prima</button>
    </form>
    <h2>Results</h2>
    {% if result %}
        <pre>
            {% for line in result %}
            {{ line }}<br>
            {% endfor %}
        </pre>
    {% else %}
        <p>No results to display.</p>
    {% endif %}
</body>
</html>