{% extends 'base.html' %}

{% block title %}
Our Team
{% endblock %}

{% block content %}



<!-- HERO -->
<div class="hero-section">
    <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
    <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="hero-content-wrapper">
        <div class="hero-height">
            <h2 class="hero-title">Get to know our work</h2>
            <p class="hero-description">Get to know the faces behind the names and discover what motivates each member of our team. Whether it's their professional achievements, personal hobbies, or quirky fun facts, you'll find insights that highlight the unique personalities that make our team special.</p>
        </div>
        <div class="link-group">
            <div class="link-grid">
                <a href="github.com/figopratama">Github<span aria-hidden="true">&rarr;</span></a>
                <a href="github.com/figopratama">Online Courses <span aria-hidden="true">&rarr;</span></a>
                <a href="github.com/figopratama">Other Projects <span aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
        <div class="achievement-group">
            <dl class="achievement-list">
            <div class="achievement-list-group">
                <dt class="achievement-list-title">Partners worldwide</dt>
                <dd class="achievement-list-description">7</dd>
            </div>
            <div class="achievement-list-group">
                <dt class="achievement-list-title">Full-time colleagues</dt>
                <dd class="achievement-list-description">50+</dd>
            </div>
            <div class="achievement-list-group">
                <dt class="achievement-list-title">Hours per week</dt>
                <dd class="achievement-list-description">40</dd>
            </div>
            <div class="achievement-list-group">
                <dt class="achievement-list-title">Paid time off</dt>
                <dd class="achievement-list-description">Unlimited</dd>
            </div>
            </dl>
        </div>
    </div>
</div>

<!-- CONTENT -->
<div class="team-section">
    <div class="team-content-wrapper-1">
        <div class="team-introduction-section">
            <h2 class="team-introduction-title">Meet our team</h2>
            <p class="team-introduction-description">At GSCount, collaboration is at the heart of everything we do. We believe in fostering an environment of open communication, mutual respect, and continuous learning. This collaborative spirit enables us to tackle challenges head-on, innovate, and achieve remarkable results together.</p>
        </div>
        <ul role="list" class="team-group">
            <li>
            <div class="team-list">
                <img class="team-photo" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                <div>
                <h3 class="team-name">Figo Pratama</h3>
                <p class="team-job">Developer</p>
                </div>
            </div>
            </li>

        </ul>
    </div>
</div>
<div class="team-section">
    <div class="team-content-wrapper-2">
        <dl class="user-list">
            <div class="user-list-group">
                <dt class="user-list-title">Data analizing every 24 hours</dt>
                <dd class="user-list-description">150+</dd>
            </div>
            <div class="user-list-group">
                <dt class="user-list-title">Company helped</dt>
                <dd class="user-list-description">10</dd>
            </div>
            <div class="user-list-group">
                <dt class="user-list-title">New users daily</dt>
                <dd class="user-list-description">20</dd>
            </div>
        </dl>
    </div>
</div>

<!-- FOOTER -->
<div class="newsletter-section">
    <div class="team-content-wrapper-3">
        <div class="newsletter-group">
            <div class="newsletter-form">
                <h2 class="newsletter-form-title">Subscribe to our newsletter.</h2>
                <p class="newsletter-form-description">Nostrud amet eu ullamco nisi aute in ad minim nostrud adipisicing velit quis. Duis tempor incididunt dolore.</p>
                <div class="newsletter-form-box">
                    <label for="email-address" class="sr-only">Email address</label>
                    <input id="email-address" name="email" type="email" autocomplete="email" required class="newsletter-input-box" placeholder="Enter your email">
                    <button type="submit" class="newsletter-form-button">Subscribe</button>
                </div>
            </div>
            <dl class="newsletter-benefit">
                <div class="newsletter-grid">
                    <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                        </svg>
                    </div>
                    <dt class="mt-4 font-semibold text-white">Weekly articles</dt>
                    <dd class="mt-2 leading-7 text-gray-400">Non laboris consequat cupidatat laborum magna. Eiusmod non irure cupidatat duis commodo amet.</dd>
                </div>
                <div class="newsletter-grid">
                    <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002" />
                        </svg>
                    </div>
                    <dt class="mt-4 font-semibold text-white">No spam</dt>
                    <dd class="mt-2 leading-7 text-gray-400">Officia excepteur ullamco ut sint duis proident non adipisicing. Voluptate incididunt anim.</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6" aria-hidden="true">
        <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
</div>
<!--
  The example above require some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->

{% endblock %}