@tailwind base;
@tailwind components;
@tailwind utilities;

/* PARTNER.HTML HERO */
/* TEAM.HTML HERO */
.hero-section {
    @apply relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32;
}
.hero-content-wrapper {
    @apply mx-auto max-w-7xl px-6 lg:px-8;
}
.hero-height {
    @apply mx-auto max-w-2xl lg:mx-0;
}
.hero-title{
    @apply text-4xl font-bold tracking-tight text-white sm:text-6xl;
}
.hero-description {
    @apply mt-6 text-lg leading-8 text-gray-300;
}
.link-group {
    @apply mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none;
}
.link-grid {
    @apply grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10;
}

/* TEAM.HTML HERO(2nd SECTION)*/
.achievement-group {
    @apply mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none;
}
.achievement-list {
    @apply mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4;
}
.achievement-list-group {
    @apply flex flex-col-reverse;
}
.achievement-list-title {
    @apply text-base leading-7 text-gray-300;
}
.achievement-list-description {
    @apply text-2xl font-bold leading-9 tracking-tight text-white;
}

/* TEAM.HTML CONTENT */
.team-section {
    @apply bg-white py-24 sm:py-32;
}
.team-content-wrapper-1 {
    @apply mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3;
}
.team-introduction-section  {
    @apply max-w-2xl;
}
.team-introduction-title {
    @apply text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl;
}
.team-introduction-description {
    @apply mt-6 text-lg leading-8 text-gray-600;
}
.team-group {
    @apply grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2;
}
.team-list {
    @apply flex items-center gap-x-6;
}
.team-photo {
    @apply h-16 w-16 rounded-full;
}
.team-name {
    @apply text-base font-semibold leading-7 tracking-tight text-gray-900;
}
.team-job {
    @apply text-sm font-semibold leading-6 text-indigo-600;
}
.team-content-wrapper-2 {
    @apply mx-auto max-w-7xl px-6 lg:px-8;
}
.user-list {
    @apply grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3;
}
.user-list-group {
    @apply mx-auto flex max-w-xs flex-col gap-y-4;
}
.user-list-title {
    @apply text-base leading-7 text-gray-600;
}
.user-list-description {
    @apply order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl;
}

/* TEAM.HTML FOOTER */
.newsletter-section {
    @apply relative isolate overflow-hidden bg-gray-900 py-16 sm:py-24 lg:py-32;
}
.team-content-wrapper-3 {
    @apply mx-auto max-w-7xl px-6 lg:px-8;
}
.newsletter-group {
    @apply mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2;
}
.newsletter-form {
    @apply max-w-xl lg:max-w-lg;
}
.newsletter-form-title {
    @apply text-3xl font-bold tracking-tight text-white sm:text-4xl;
}
.newsletter-form-description {
    @apply mt-4 text-lg leading-8 text-gray-300;
}
.newsletter-form-box {
    @apply mt-6 flex max-w-md gap-x-4;
}
.newsletter-input-box {
    @apply min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6;
}
.newsletter-form-button {
    @apply flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500;
}
.newsletter-benefit {
    @apply grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2;
}
.newsletter-grid {
    @apply flex flex-col items-start;
}

/* PARTNER.HTML CONTENT */
.partner-section {
    @apply bg-white py-24 sm:py-32;
}
.partner-header {
    @apply text-center text-lg font-semibold leading-8 text-gray-900;
}
.partner-logos {
    @apply mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5;
}
.partner-logo-1 {
    @apply col-span-2 max-h-12 w-full object-contain lg:col-span-1;
}
.partner-logo-2 {
    @apply col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1;
}
.partner-logo-3 {
    @apply col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1;
}